mat-card {
  width: 80%;
  border: 1px solid gray;
  border-radius: 10px;
  min-width: 800px;
  max-width: 1200px;

  mat-card-content {
    padding: 0;
  }
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid-card-container {
  grid-template-columns: 70% 30%;
  height: 300px;
}

.grid-item {
  padding: 5px 10px;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.grid-selecionador {
  grid-template-columns: 40% 10% 40%;
}

