<mat-card color="primary">
  <mat-card-content>
    <div class="grid grid-card-container">
      <div class="grid-item">
        <div class="grid grid-selecionador">
          <div class="grid-item">
            <selecionador-moeda
              #readComponent
              moedaSelecionada="USD"
              [moedaQtd]="1"
              (moedaSelecionadaChange)="getConversaoAndSetToBuyPrice()"
              (moedaQtdChange)="calculateAndSetResultValue()"
            ></selecionador-moeda>
          </div>
          <div class="grid-item">
            <button mat-icon-button>
              <mat-icon>swap_horiz</mat-icon>
            </button>
          </div>
          <div class="grid-item">
            <selecionador-moeda
              #resultComponent
              moedaSelecionada="BRL"
              [moedaQtd]="resultInputValue"
              [readonly]="true"
              (moedaSelecionadaChange)="getConversaoAndSetToBuyPrice()"
            ></selecionador-moeda>
          </div>
        </div>
      </div>
      <div class="grid-item align-start border-box">
        <div *ngIf="moedasMiniConversor.length > 0">
          <mini-conversor *ngFor="let moeda of moedasMiniConversor" [moedaSelecionada]="moeda" ></mini-conversor>
        </div>
        <button mat-fab color="warn" class="btn-add" (click)="addMiniConversor()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
