mat-card {
  width: 80%;
  border: 1px solid black;
  background-color: #eeeeee;
  border-radius: 10px;
  min-width: 800px;
  max-width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;

  mat-card-content {
    padding: 0;
  }
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid-card-container {
  grid-template-columns: 70% 30%;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.grid-selecionador {
  grid-template-columns: 40% 10% 40%;
}

.align-start {
  align-self: flex-start;
}

.border-box {
  box-sizing: border-box;
}

.btn-add {
  margin-top: 10px;
}


