<mat-form-field appearance="outline">
  <mat-label>Moeda</mat-label>
  <mat-select
    [(value)]="moedaSelecionada"
    (selectionChange)="emitMoedaSelecionadaChange($event.value)"
  >
    <mat-option
      style="display: flex; align-items: center"
      *ngFor="let key of objectkeys(moedas)"
      [value]="key"
    >
      {{ key }} - {{ moedas[key] }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <input matInput type="text" [(ngModel)]="moedaQtd" [readonly]="readonly" />
</mat-form-field>
