<mat-form-field appearance="outline">
  <mat-label>Moeda</mat-label>
  <mat-select
    [(value)]="moedaSelecionada"
    (selectionChange)="emitMoedaSelecionadaChange($event.value)"
  >
    <mat-option
      style="display: flex; align-items: center"
      *ngFor="let key of objectkeys(moedas)"
      [value]="key"
    >
      {{ key }} - {{ moedas[key] }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <div *ngIf="readonly;else notParsedInput">
    <input matInput type="text" [ngModel]="moedaQtd | toNumber | number:'1.0-3'" (ngModelChange)="moedaQtd=$event" [readonly]="readonly" (input)="emitMoedaQtdChange($event)" />
  </div>
  <ng-template #notParsedInput>
    <input matInput type="text" [(ngModel)]="moedaQtd" [readonly]="readonly" (input)="emitMoedaQtdChange($event)" />
  </ng-template>
</mat-form-field>
